#seccion-inicial {
   margin-left: 40px;
   margin-right: 40px;
}

.principales {
   display: flex;
   margin-left: -20px;
}


#item1, #item2, #item3, #item4, #item5, #item6, #item7 {
   margin: 0px -23px 0px 0px;
   background: #172528;
   padding: 10px;
   border-radius: 10px;

   font-family: "Raleway";
   color: white;

   height: 120px;
   width: auto;
}

.titulos {
   color: white;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 22px;
}

.etiquetas {
   font-family: "Raleway";
   color: white;
   font-size: 15px;
}

